li {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 3px;
  margin: 0 auto;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

/* modal penecerenin boyutlarını ayarladım */
.basicLightbox__placeholder {
  width: 1112px !important;
  height: 640px !important;
}
.basicLightbox__content img {
  width: 100%;  /* Resmi, modal'ın genişliğine sığacak şekilde ölçeklendirdim */
  height: 100%; /* Resmi, modal'ın yüksekliğine sığacak şekilde ölçeklendirdim */
}