li {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 3px;
  margin: 0 auto;
}

.gallery-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}
